@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css);
body{
    margin: 0;
    padding: 0;
    /* text-align: center; */
}
.header_titel{
    margin: 20px 20px 20px 20px;
}
.header_section_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ul_style{
    -webkit-padding-start: 0;
    list-style-type: none;
}
.weathe_div{
    margin: 10px 20px 20px 20px;
}
.dark_gray{
    color: rgb(70, 69, 69);
    
}
.daily_section_style{
    display: flex;
    flex-direction: column;
}
.daily_div_style{
    display: flex;
    justify-content: space-evenly;
    border-top: 3px rgb(173, 173, 173) solid;
    padding-top: 10px;
}
.blue{
    color: aqua;
}
.yellow{
    color: yellow;
}
.gray{
    color: rgb(173, 173, 173);
}
@media (min-width: 600px) and (max-width: 1600px) {
    .daily_section_style{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .daily_div_style{
        flex-direction: column;
        border: none;
    }
    .header_section_div{
        justify-content: flex-start;
        margin-left: 60px;
    }
    .header_titel{
        margin-left: 60px;
    }
    .weathe_div{
        margin: 10px 180px 20px 20px;
    }

}
